@charset "UTF-8";

//히든처리
@mixin txtHidden(){
  overflow:hidden; display:inline-block;
  text-indent:-9999px; white-space:nowrap; line-height:0;
}

//...한줄처리
@mixin ellipsis(){
  overflow:hidden; white-space:nowrap !important;
  text-overflow:ellipsis; -o-text-overflow:ellipsis; word-wrap:normal !important;
}

//clear처리
@mixin clearFix(){
  clear:both;
  &:before,&:after {content:" "; display:table;}
  &:after {clear:both;}
}