@charset "UTF-8";

* {box-sizing:border-box;}
body, h1, h2, h3, h4, h5, h6, div, p, span, button,
header, footer, article, section, ul, ol, li, dl, dt, dd,
form, fieldset, input, select, label, textarea, img, a, small {
	margin:0; padding:0; border:0; word-break:break-all; word-wrap:break-word;
	color:$white; font-size:13px;
	font-family: "맑은 고딕", "Malgun Gothic", tahoma, sans-serif; font-weight:400;
}
html, body {height:calc(100% - 50px);}
h1, h2, h3, h4, h5, h6 {font-weight:normal;}
img, input, select, textarea, button {vertical-align:top;}
legend, caption {overflow:hidden; visibility:hidden; height:0; z-index:-1; text-indent:-9999px; font-size:0; line-height:0;}
button {background:none; cursor:pointer;}
a {
	color:$white; text-decoration:none;
	&:focus, &:hover, &:active {text-decoration:none;}
}
ul, ol {list-style:none;}
label {cursor:pointer;}
iframe {border:0;}
em, i {font-style:normal;}
select {padding:1px 6px 2px; border:1px solid $mint; background:$mint; cursor:pointer;}
textarea {padding:5px 10px; border:1px solid $mint; resize:none;}